main{
  background: linear-gradient(90deg, green, white, red);
}

nav{
  background-color: rgb(66, 71, 76);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.back {
  background-image: url(assets/img/backimg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.img-cart {
  width: 80px;
  height: 80px;
}

.links {
  text-decoration: none;
} 

.title-table {
  caption-side: top;
  color: black;
  font-size: 20px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}